<div id="TrendixAdminAjaxConfirmModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">{{ 'Cancelar'|trans }}</button>
                <a id="btnTrendixAdminAjaxConfirmModal" type="button" data-ajax-action="" class="btn btn-link waves-effect">{{ 'Aceptar'|trans }}</a>
            </div>
        </div>
    </div>
</div>