{% import 'TrendixAdminBundle::btnMacros.html.twig' as buttons %}
{% import 'TrendixAdminBundle::functions.html.twig' as functions %}

<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ app_name|trans }}{% endblock %}</title>

    <!-- CSS -->
    {% block css %}
    <link rel="stylesheet" href="{{ asset('/components/fullcalendar/dist/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/components/animate.css/animate.min.css' ) }}">
    <link rel="stylesheet" href="{{ asset('/components/bootstrap-sweetalert/lib/sweet-alert.css') }}">
    <link rel="stylesheet" href="{{ asset('/components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css' ) }}">
    <link rel="stylesheet" href="{{ asset('/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/trendixadmin/vendors/summernote/dist/summernote.css' ) }}">
    <link rel="stylesheet" href="{{ asset('/bundles/trendixadmin/jcrop/css/jquery.Jcrop.min.css' ) }}">
    <link rel="stylesheet" href="{{ asset('/bundles/trendixadmin/pickadate/lib/themes/classic.css' ) }}">
    <link rel="stylesheet" href="{{ asset('/bundles/trendixadmin/pickadate/lib/themes/classic.date.css' ) }}">
    <link rel="stylesheet" href="{{ asset('/bundles/trendixadmin/pickadate/lib/themes/classic.time.css' ) }}">
    <link rel="stylesheet" href="{{ asset('/bundles/trendixadmin/css/imageWidget.css' ) }}">
    <link rel="stylesheet" href="{{ asset('/bundles/trendixadmin/css/base.css') }}">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    {% endblock %}

    <script src="{{ asset('/js/header.js') }}"></script>

    <script
            src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js"
            integrity="sha256-55Jz3pBCF8z9jBO1qQ7cIf0L+neuPTD1u7Ytzrp2dqo="
            crossorigin="anonymous"></script>
</head>
<body class="{% block body_class %}{% endblock %}">

{% block body %}
<header id="header" class="clearfix" data-current-skin="{{ admin_theme|default("blue") }}">
    <div class="container">
        {% include 'TrendixAdminBundle::top_bar.html.twig' %}
    </div>
</header>

<section id="main" data-layout="layout-1">
    <aside id="sidebar" class="sidebar c-overflow">
        {% if app.user is defined and app.user %}
            {% include 'TrendixAdminBundle::sidebarMenu.html.twig' %}
        {% endif %}
    </aside>

    {#
    <aside id="chat" class="sidebar c-overflow">
        {% include 'TrendixAdminBundle::right_sidebar.html.twig' %}
    </aside>
    #}


    <section id="content">
        <div class="container">
        {% block content %}{% endblock %}
        </div>
    </section>

    <section id="actionButtons">
        {% block actionButtons %}{% endblock %}
    </section>
</section>

<footer id="footer">
    {% include 'TrendixAdminBundle::footer.html.twig' %}
</footer>

{% include 'TrendixAdminBundle::genericModals.html.twig' %}
{% endblock %}

<!-- Page Loader -->
<div class="page-loader">
    <div class="preloader pls-blue">
        <svg class="pl-circular" viewBox="25 25 50 50">
            <circle class="plc-path" cx="50" cy="50" r="20" />
        </svg>
    </div>
</div>

<!-- Older IE warning message -->
<!--[if lt IE 9]>
<div class="ie-warning">
    <h1 class="c-white">Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="img/browsers/chrome.png" alt="">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="img/browsers/firefox.png" alt="">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="img/browsers/opera.png" alt="">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="img/browsers/safari.png" alt="">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="img/browsers/ie.png" alt="">
                    <div>IE (New)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->


{% block javascripts %}
    <script src="{{ asset('/js/footer.js') }}"></script>


    <script src="{{ asset('/bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="//code.highcharts.com/4.2.2/highcharts.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript">
        $('select').select2();
    </script>

    {% if (admin_notification_module is defined and admin_notification_module) %}
        <script src="{{ asset('/bundles/trendixnotifications/notifications.js') }}"></script>
    {% endif %}

    {% for var in _context %}
        {{ functions.appendJavascript(var) }}
    {% endfor %}
{% endblock %}
{% include "TrendixAdminBundle:forms:crop_image_modal.html.twig" %}

</body>
</html>