{% extends "TrendixAdminBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<div class="container">
    <div class="sm-col-3"></div>
    <div class="sm-col-6">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>

            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input class="form-control" type="password" id="password" name="_password" required="required" />
            </div>

            <div class="checkbox">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
                </label>
            </div>

            <button type="submit" class="btn btn-default" id="_submit" name="_submit">
                {{ 'security.login.submit'|trans }}
            </button>
        </form>
    </div>
    <div class="sm-col-6"></div>
</div>
{% endblock %}