{% extends "TrendixAdminBundle::layout.html.twig" %}

{% block content %}
    <div class="card">
        <div class="card-body card-padding">
            {{ 'admin.pass_changed'|trans }}
        </div>
    </div>
{% endblock content %}
