{% extends "TrendixAdminBundle::layout.html.twig" %}

{% block content %}
    <div class="card">
        <div class="card-body card-padding">
            {% include "TrendixAdminBundle:Resetting:request_content.html.twig" %}
        </div>
    </div>
{% endblock content %}
