{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('reset_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group">
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-success">{{ 'resetting.request.submit'|trans }}</button>
    </div>
</form>
