{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="sm-col-3"></div>
    <div class="sm-col-6">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" class="btn btn-default" value="{{ 'registration.submit'|trans }}" />
            </div>
        {{ form_end(form) }}
    </div>
    <div class="sm-col-3"></div>
</div>