/*
 * Load Main Bootstrap LESS files
 */

@import './web/components/bootstrap/less/bootstrap';

/*
 * LESS Plugins
 */
@import 'inc/less-plugins/for';


/*
 * Variable and Mixin
 */ 

@import 'inc/variables';
@import 'inc/mixin';
@import (optional) '../../../../app/Resources/public/less/theme';

/* 
 * Load Font
 */   
@import 'inc/font';
 
/*
 * Vendors
 */
@import './web/bundles/trendixadmin/vendors/weather-icons/weather-icons';
@import './web/bundles/trendixadmin/vendors/fileinput/fileinput';
@import './web/components/material-shadows/material-shadows';
@import './web/components/Waves/src/less/waves';

/* 
 * Load Website related LESS files 
 */  
@import 'inc/generics';
@import 'inc/bootstrap-overrides';
@import 'inc/base';
@import 'inc/list';
@import 'inc/header'; 
@import 'inc/sidebar'; 
@import 'inc/dropdown'; 
@import 'inc/listview';
@import 'inc/progress-bar'; 
@import 'inc/chat';
@import 'inc/tabs';
@import 'inc/card';
@import 'inc/chart'; 
@import 'inc/widgets';
@import 'inc/table';
@import 'inc/todo';
@import 'inc/button';
@import 'inc/form';
@import 'inc/pagination';
@import 'inc/popover';
@import 'inc/wizard';
@import 'inc/alert'; 
@import 'inc/media';
@import 'inc/modal';  
@import 'inc/panel';
@import 'inc/tooltip';
@import 'inc/breadcrumb';
@import 'inc/messages';
@import 'inc/404';
@import 'inc/login';
@import 'inc/profile';
@import 'inc/photos';
@import 'inc/contacts'; 
@import 'inc/shadow'; 
@import 'inc/misc';
@import 'inc/ie-warning';
@import 'inc/footer';
@import 'inc/pricing-table';
@import 'inc/invoice';
@import 'inc/wall';
@import 'inc/skin';
@import 'inc/preloader';

@import 'inc/print'; 

/*
 * Vendor Overrides
 */
@import 'inc/vendor-overrides/mediaelement';
@import 'inc/vendor-overrides/fullcalendar';
@import 'inc/vendor-overrides/bootgrid';
@import 'inc/vendor-overrides/bootstrap-select';
@import 'inc/vendor-overrides/chosen';
@import 'inc/vendor-overrides/noUiSlider'; 
@import 'inc/vendor-overrides/farbtastic';
@import 'inc/vendor-overrides/summernote';
@import 'inc/vendor-overrides/bootstrap-datetimepicker';
@import 'inc/vendor-overrides/fileinput';
@import 'inc/vendor-overrides/light-gallery';
@import 'inc/vendor-overrides/waves';
@import 'inc/vendor-overrides/sweetalert';
@import 'inc/vendor-overrides/typeahead';
@import 'inc/vendor-overrides/malihu-custom-scrollbar';



ul.login-navigation > li {
  border-radius: 10px !important;
  padding: 0 5px !important;
  & > a {
    font-size: 14px !important;
    color: #fff;
  }
}

#l-login h1 {
  font-size: 20px;
}


.ui-tooltip, .arrow:after {
  background: #00000099;
}
.ui-tooltip {
  background: #00000099;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
}