#actionButtons {
    position: fixed;
    right: 45px;
    bottom: 45px;
    z-index: 998;
}

#actionButtons a {
    line-height: 55px;
    height: 55px;
    width: 55px;
    font-size: 24px;
}

#actionButtons a i {
    font-size: 24px;
}

/* FORMS */

textarea {
    min-height: 120px;
}

input.simple {
    border: none !important;
}

td input.simple, th input.simple {
    text-align: center;
}

/* Image upload widget */
#image_upload_file_container > .btn {
    height: 32px;
}

.action-label {
    opacity: 0;
    background-color: #444;
    color: white;
    padding: 3px 8px;
    border-radius: 3px;
    margin-right: 10px;
}

.page-size-selector li {
    cursor: pointer;
}

.bootgrid-header .actions .btn-group .btn.disabled-button {
    background-color: #bbb;
}

.enabled-green {
    color: #5c4;
    font-weight: bold;
    font-size: 1.2em;
}

.disabled-red {
    color: #c55;
    font-weight: bold;
    font-size: 1.2em;
}

.enabled-yellow {
    color: #ec0;
    font-weight: bold;
    font-size: 1.2em;
}

.disabled-grey {
    color: #888;
    font-weight: bold;
    font-size: 1.2em;
}

.card.waves-effect {
    display: block;
}

/* Selects */
select {
    min-width: 40px;
}

.select2-container--default .select2-selection--single {
    border-width: 0 0 1px !important;
    border-radius: 0 !important;
}

.select2-results {
    border-bottom: 1px solid #AAA;
}

.actions .locale-selector {
    width: 50px;
    height: 35px;
    box-shadow: none !important;
    background: 0 0;
    padding: 6px 0;
}

.actions .locale-selector:before {
    border-radius: 0 !important;
}

.actions .locale-selector[disabled]:hover:before {
    display: none;
}