.jcrop-keymgr {
    left: -12000px !important;
}
.gallery-image-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin: 0;
}

.gallery-image-container
{
    vertical-align: middle;
    border: solid 1px #bbbbbb;
    padding: 2px;
    display: inline-block;
    margin: 10px;
    min-height: 150px;
    min-width: 150px;
    height: 150px;
    /*width: 150px;*/
    cursor: move;
    text-align: center;
    background-color: #fff;
}

.gallery-image-container img
{
    vertical-align: middle;
    text-align: center;
}

.gallery-image-container.placeholder
{
    border-style: dashed;
    min-height: 150px;
    min-width: 150px;
}

.gallery-image-container span.remove-image
{
    position: absolute;
    line-height: normal;
    margin-left: -10px;
    margin-top: -10px;
    cursor: hand;
    cursor: pointer;
    text-align: left;
}

.gallery-image-container span.remove-image i
{
    color: red;
    background-color: white;
    padding: 2px;
    border: solid 1px #aaa;
    border-radius: 15px;
}

.image_edit_button
{
    position: absolute;
    margin: 10px;
}

.hide-disabled .image_edit_button
{
    position: relative;
    margin: 0;
}
.fileinput-button input {
    /*position: absolute;
    top: 0;
    right: 0;
    margin: 0;*/
    /*font-size: 200px;
    direction: ltr;
    cursor: pointer;
    display: none !important;*/
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    max-width: 0;
    width: 0;
}

.image_upload_drop_zone
{
    border: dotted 1px #555;
    margin: 20px;
    text-align: center;
    font-size: 1.5em;
    padding: 60px;
    border: dotted 1px #555;
}

.image_upload_drop_zone p
{
    text-align: center;
}

#upload-image
{
    text-align: center;
}

.jcrop-holder img{
    max-width: none !important;
}

.jcrop-dark .jcrop-selection
{
    -webkit-box-shadow: 0px 0px 15px #000;
    box-shadow: 0px 0px 15px #000;
}

#image_upload_modal .modal-dialog
{
    width: 850px;
}

@media screen and (max-width: 720px) {
    #image_upload_modal .modal-dialog {
        width: 95%;
    }
}

#image_upload_modal .tab-content
{
    overflow: hidden;
}

#existing-images img
{
    max-width: 150px;
    max-height: 150px;
    vertical-align: middle;
}

#existing-images div.image-container
{
    /*width: 150px;
    height: 150px;*/
    border: solid 1px #888;
    display: inline-block;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    line-height: 150px;
    cursor: pointer;
}

#existing-images div.image-container:hover
{
    background-color: #aaa;
}

#existing-images
{
    text-align: center;
}

#image_preview img
{
    max-width: none;
    max-height: none;
}

.form_image_preview
{
    max-width: 500px;
    max-height: 300px;
}

.hidden
{
    display: none;
}
