<div id="image_upload_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>{% trans %}images.insert{% endtrans %}</h3>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills" id="image_upload_tabs" style="display: none;">
                    <li class="active">
                        <a href="#upload-image" data-toggle="tab">{% trans %}images.upload{% endtrans %}</a>
                    </li>
                    <li><a href="#crop-and-use" data-toggle="tab">{% trans %}images.crop{% endtrans %}</a></li>
                </ul>
                <div class="tab-content">
                    <!-- UPLOAD IMAGE -->
                    <div class="tab-pane active" id="upload-image">
                        <div class="field-error clearfix hidden">
                            <div id="image_upload_widget_error" class="alert alert-danger span6">
                            </div>
                        </div>
                        <div id="image_upload_drop_zone" class="image_upload_drop_zone">
                            <p>{% trans %}images.drop{% endtrans %}</p>
                            <p>{% trans %}images.or{% endtrans %}</p>
                        </div>
                        <div id="image_upload_file_container">
                            <span class="btn btn-info fileinput-button">
                                <i class="icon-white icon-download-alt"></i>
                                <span> {% trans %}images.select{% endtrans %}</span>
                                <input id="image_upload_file" type="file" name="image_upload_file">
                            </span>
                        </div>
                        <div id="image_file_upload_progress" class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <input type="hidden" id="selected_image"/>
                    </div>
                    <!-- CROP IMAGE -->
                    <div class="tab-pane" id="crop-and-use">
                        <p>{% trans %}images.adjust{% endtrans %}</p>
                        <div class="image_preview" id="image_preview" style="z-index: 1050">
                            <p>{% trans %}images.select_image{% endtrans %}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans %}images.close{% endtrans %}</button>
                    <span class="btn btn-success hidden" id="image_crop_go_now">
                        <i class="icon-white icon icon-fullscreen"></i>
                        {% trans %}images.crop{% endtrans %}
                    </span>
                    <span class="btn btn-success hidden" id="image_crop_cancel">
                        <i class="icon-white icon icon-fullscreen"></i>
                        {% trans %}images.cancel{% endtrans %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#image_upload_modal').on({
        'hidden.bs.modal': destroyImageManager
    });
</script>
