
{% block trendix_image_widget %}
    {% spaceless %}
        {# block('form_widget_simple') #}
        {% set name = 'image' %}
        {% set oName = 'originalImage' %}
        {{ form_widget(form[name])}}
        {{ form_widget(form[oName])}}

        <div class="field-error clearfix hidden">
            <div id="{{form[name].vars.id}}_widget_error" class="alert alert-danger span6">
            </div>
        </div>
        <div class="image_preview select-image-button" id="image_preview_{{ form[name].vars.id }}" style="z-index: 1050">
            <p class="hidden crop-error bg-danger" data-target="invalid">{% trans %}images.invalid{% endtrans %}</p>
            <p class="hidden crop-error bg-danger" data-target="format">{% trans %}images.not_supported_format{% endtrans %}</p>
            <div class="image_edit_button">
                <span class="btn btn-success select-image-button">
                    <i class="glyphicon glyphicon-edit glyphicon-white"></i> {% trans %}images.edit{% endtrans %}
                </span>
            </div>
            <div id="image_preview_image_{{form[name].vars.id}}">
                {% if form[name].vars.value %}
                    <img src="{{ options.uploadConfig.webDir ~ form[name].vars.value|replace({'cropped': 'thumb'}) }}" id="{{ form[name].vars.id }}_preview" style="cursor:hand; cursor: pointer"/>
                {% else %}
                    <img src="http://placehold.it/{{ options.cropConfig.minWidth }}x{{ options.cropConfig.minHeight}}" id="{{ form[name].vars.id }}_preview"/>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}

    <script>
        $(document).ready(function(){
            if($('#{{ form[oName].vars.id }}').val()){
                $('#{{ form[name].vars.id }}_preview').click(function(e){
                    // console.log(e.target);
                    if($( e.target ).is( "img" )){
                        $('<div class="modal hide fade"><img src="/{{options.uploadConfig.webDir}}/{{ form[oName].vars.value }}"/></div>').modal();
                        return false;
                    }
                });
            }
            $('#image_preview_{{ form[name].vars.id }}.select-image-button .image_edit_button').click(function(event){
                var options = $.parseJSON('{{ options | json_encode() | raw }}');
                options['originalImageFieldId'] = '{{ form[oName].vars.id }}';
                initializeImageManager('{{ form[name].vars.id }}', options);
                // console.log('{{form[name].vars.id}} onclick');
                $('#image_upload_modal').modal('show');
            });
        });
        $('.select-image-button').mouseover(function(){
            if(!$(this).hasClass('hide-disabled'))
                $(this).children('.image_edit_button').removeClass('hidden');
        });
        $('.select-image-button').mouseout(function(){
            if(!$(this).hasClass('hide-disabled'))
                $(this).children('.image_edit_button').addClass('hidden');
        });

    </script>
{% endblock %}

{% block trendix_gallery_widget %}
    {% spaceless %}

        <div class="field-error clearfix hidden">
            <div id="{{form[name].vars.id}}_widget_error" class="alert alert-danger span6">
            </div>
        </div>
        <div id="gallery_preview_{{form[name].vars.id}}" class="well gallery-well" data-name="{{form[name].vars.full_name}}">
            <p class="hidden crop-error bg-danger" data-target="invalid">{% trans %}images.invalid{% endtrans %}</p>
            <p class="hidden crop-error bg-danger" data-target="format">{% trans %}images.not_supported_format{% endtrans %}</p>
            {% for image in form[name] %}
                <div class="gallery-image-container" data-image="{{ image.vars.value }}">
                    <span class="gallery-image-helper"></span>
                    {{ form_widget(image) }}
                    <span class="remove-image"><i class="glyphicon glyphicon-remove" data-delete="image"></i></span>
                    <img src="{{ (options.uploadConfig.webDir ~ 'thumb/' ~ image.vars.value) }}"/>
                </div>
            {% endfor %}
        </div>
        <div class="image_add_button" id="image_add_button_{{form[name].vars.id}}">
            <span class="btn btn-success add-image-button">
                <i class="glyphicon glyphicon-picture glyphicon-white"></i> {% trans %}images.add{% endtrans %}
            </span>
        </div>

    {% endspaceless %}

    <script>

        $(document).ready(function(){
            var options = $.parseJSON('{{ options | json_encode() | raw }}');
            rebindGalleryRemove(options);
            galleries['{{form[name].vars.id}}'] = true;
            $('#image_add_button_{{form[name].vars.id}}').click(function(event){
                initializeImageManager('{{ form[name].vars.id }}', options);
                $('#image_upload_modal').modal({backdrop: 'static', keyboard: false});
            });
            $( "#gallery_preview_{{form[name].vars.id}}" ).sortable({
                placeholder: "gallery-image-container placeholder",
                update: function(e, ui){
                    reorderItems('gallery_preview_{{form[name].vars.id}}', options);
                }
            });
            $( "#gallery_preview_{{form[name].vars.id}}" ).disableSelection();
        });

    </script>
{% endblock %}