{% extends 'TrendixAdminBundle::layout.html.twig' %}

{% block content %}
    {% include 'TrendixAdminBundle:Lista:lista.html.twig' %}
{% endblock %}

{% block actionButtons %}
    {% if lista.primaryAction is not null %}
        {% if lista.primaryAction.icon is defined %}
            {% set icon = lista.primaryAction.icon %}
        {% else %}
            {% set icon = 'plus' %}
        {% endif %}

        {% if lista.primaryAction != null %}
        {{ buttons.actionButton(lista.primaryAction.url, icon, 'lightgreen', lista.primaryAction.text)  }}
        {% endif %}
    {% endif %}
{% endblock %}
