<div class="card lista-card">
    {% if lista.downloadable %}
        <form class="hidden list-download" method="post" id="list-download" action="{{ url('download_list') }}">
            <input type="hidden" name="class" value="{{ lista.listClass }}">
            <input type="hidden" name="call" value="{{ lista.listCall }}">
            <input type="hidden" name="title" value="{{ title }}">
        </form>
    {% endif %}
    <div class="card-header">
        <h2>{{ title|trans }}</h2>
    </div>
    <div class="card-body">
        <div id="data-table-basic-header" class="bootgrid-header container-fluid">
            <div class="row">
                <div class="col-sm-12 actionBar">
                    {% if hideSearch is not defined or not hideSearch %}
                        <div class="search form-group pull-left">
                            <div class="input-group">
                                <span class="zmdi icon input-group-addon glyphicon-search"></span>
                                <input class="search-field form-control" placeholder="{{ 'list.search'|trans }}"
                                       type="text" value="{{ lista.search }}">
                            </div>
                        </div>
                    {% endif %}
                    <div class="actions btn-group pull-left">
                        <div class="dropdown btn-group">
                            <button aria-expanded="false" type="button" class="btn btn-default page-size-selector
                                    {% if lista.maxResults == 10 %}disabled-button" disabled="disabled{% endif %}"
                                    data-toggle="dropdown" data-value="10"><span class="dropdown-text">10</span>
                                <span class="caret"></span>
                            </button>
                            <button aria-expanded="false" type="button" class="btn btn-default page-size-selector
                                    {% if lista.maxResults == 25 %}disabled-button" disabled="disabled{% endif %}"
                                    data-toggle="dropdown" data-value="25"><span class="dropdown-text">25</span>
                                <span class="caret"></span>
                            </button>
                            <button aria-expanded="false" type="button" class="btn btn-default page-size-selector
                                    {% if lista.maxResults == 50 %}disabled-button" disabled="disabled{% endif %}"
                                    data-toggle="dropdown" data-value="50"><span class="dropdown-text">50</span>
                                <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                    <div class="actions pull-right">
                        {% if locales is defined and locales %}
                            {{ 'list.locales'|trans }}:
                            {% for locale in locales %}
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': locale})) }}"
                                   class="btn btn-default locale-selector
                                    {% if app.request.locale == locale %}disabled-button" disabled="disabled{% endif %}"
                                >{{ locale | upper }}</a>
                            {% endfor %}
                        {% endif %}
                        {% if lista.downloadable %}
                            <a href="#" class="download-file" title="{{ 'Descargar en Excel'|trans }}" >
                                <i class="zmdi zmdi-download"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if lista.data is not empty %}
            <div class="table-responsive">
                <table id="data-table-selection" class="table table-striped table-vmiddle bootgrid-table" aria-busy="false">
                    <thead>
                    <tr>
                        {% for field, label in lista.labels %}
                            <th data-column-id="id" class="text-left" style="">
                                <a href="javascript:void(0);" class="column-header-anchor sortable" data-value="{{ field }}">
                                    <span class="text">{{ label|trans }}</span>
                                </a>
                                {% if field == lista.orderColumn %}
                                    <span class="zmdi
                                    {% if lista.orderDirection %}
                                        zmdi-caret-down
                                    {% else %}
                                        zmdi-caret-up
                                    {% endif %}
                                    "></span>
                                {% endif %}
                            </th>
                        {% endfor %}
                        {% if row.actions is defined and row.actions|length > 0 %}
                            <th data-column-id="id" class="text-left" style="">
                                <a href="javascript:void(0);" class="column-header-anchor">
                                    <span class="text">{{ 'admin.actions'|trans }}</span><span class="zmdi icon"></span>
                                </a>
                            </th>
                        {% endif %}
                    </tr>
                    </thead>

                    <tbody>
                    {% for key, row in lista.data %}
                        <tr data-row-id="{% if row.original_id is defined %}
                                            {{ row.original_id }}
                                        {% elseif row.id is defined %} {# Allows overriding the ID with a JoinType #}
                                            {{ row.id }}
                                        {% else %}
                                            {{ loop.index }}
                                        {% endif %}
                                        " class="" aria-selected="false">
                            {% for label, field in row if label != 'actions' and label != 'original_id' %}
                                <td class="text-left" style="">{{ field|raw }}</td>
                            {% endfor %}
                            {% if row.actions is defined and row.actions|length > 0 %}
                                <td class="text-left actions" >

                                    {% for action in row.actions %}
                                        {% if action.action == 'delete' %}
                                        <a href="javascript:void(0);" data-ajax-action="{{ action.url }}" data-confirm="true" data-title="{{ 'Eliminar Elemento'|trans }}" data-message="{{ 'list.confirm_remove'|trans }}">
                                            <i class="zmdi zmdi-{{ action.icon }}"></i>
                                        </a>
                                        {% else %}
                                        <a href="{{ action.url }}" data-row-id="{% if row.original_id is defined %}
                                            {{ row.original_id }}
                                        {% elseif row.id is defined %}
                                            {{ row.id }}
                                        {% else %}
                                            {{ loop.index }}
                                        {% endif %}"
                                            {% if action.text %}
                                                data-toggle="admin-tooltip" title="{{ action.text|trans }}"
                                            {% endif %}
                                                >
                                            <i class="zmdi zmdi-{{ action.icon }}"></i>
                                        </a>
                                        {% endif %}
                                    {% endfor %}

                                    {#
                                    <a href="javascript:void(0);" data-row-id="{{ key }}">
                                        <i class="zmdi zmdi-delete"></i>
                                    </a>
                                    #}

                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>

                <div id="data-table-command-footer" class="bootgrid-footer container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            {% if (lista.totalPage > 1) %}
                                <ul class="pagination">
                                    {% if lista.currentPage > 1 %}
                                        <li class="first" aria-disabled="false">
                                            <a data-page="1" class="button"><i class="zmdi zmdi-more-horiz"></i></a>
                                        </li>
                                        <li class="prev" aria-disabled="false">
                                            <a data-page="{{ lista.currentPage - 1 }}" class="button"><i class="zmdi zmdi-chevron-left"></i></a>
                                        </li>
                                        {% set first = max(1, lista.currentPage-5) %}
                                        {% for p in first..lista.currentPage - 1 %}
                                            <li class="page-{{ p }}" aria-disabled="false" aria-selected="true">
                                                <a data-page="{{ p }}" class="button">{{ p }}</a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}

                                    <li class="page-{{ lista.currentPage }} active" aria-disabled="true" aria-selected="false">
                                        <a data-page="{{ lista.currentPage }}" class="button">{{ lista.currentPage }}</a>
                                    </li>

                                    {% if lista.currentPage < lista.totalPage %}
                                        {% set last = min(lista.totalPage, lista.currentPage+5) %}
                                        {% for p in lista.currentPage + 1..last %}
                                            <li class="page-{{ p }}" aria-disabled="false" aria-selected="true">
                                                <a data-page="{{ p }}" class="button">{{ p }}</a>
                                            </li>
                                        {% endfor %}
                                        <li class="next" aria-disabled="false">
                                            <a data-page="{{ lista.currentPage + 1}}" class="button"><i class="zmdi zmdi-chevron-right"></i></a>
                                        </li>
                                        <li class="last" aria-disabled="false">
                                            <a data-page="{{ lista.totalPage }}" class="button"><i class="zmdi zmdi-more-horiz"></i></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>

                        <div class="col-sm-6 infoBar">
                            <div class="infos">
                                {{ 'list.page'|trans({'%current%': lista.currentPage, '%total%': lista.totalPage}) }}
                            </div>
                        </div>
                    </div>

                    <form id="listaForm">
                        <input type="hidden" class="pag" name="pag" value="{{ lista.currentPage }}" />
                        <input type="hidden" class="search" name="search" value="{{ lista.search }}" />
                        <input type="hidden" class="max" name="max" value="{{ lista.maxResults }}" />
                        <input type="hidden" class="order_column" name="order_column" value="{{ lista.orderColumn }}" />
                        <input type="hidden" class="order_direction" name="order_direction" value="{{ lista.orderDirection }}" />
                        <input type="hidden" class="update_field" name="update_field" value="" />
                    </form>
                </div>
            </div>
        {% else %}
            <div class="card-body card-padding">
                {{ 'No hay elementos'|trans }}
            </div>
        {% endif %}
    </div>
</div>